.App {
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Navbar */
.navbar{
  position: relative;
}
.nav-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item{
  display: flex;  
  gap: 20px;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  letter-spacing: 1px;
 
}

.nav-link{
  color: black;
}

a:hover{
  text-decoration: underline;
}

.icons{
  gap: 20px;
}

/* Card */

.offer{
  height: 180px;
  background-color:  #D9d9d9;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.offer1{
  background-color: #D9d9d9;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-color{
  background-color: #D9d9d9;
}
.icon1{
  position: relative;
  width:35%;
  height: 300px;
  background-color:#D9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  }
.icon{
  position: relative;
  background-color:#D9d9d9;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  float: left;
}
.icon2{
  position: relative;
  justify-content: flex-start;
}




/* Footer */
.footer{
  width: 100%;
position: absolute;
}

.footer-end{
  color:white;
}

